#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  padding: 0em 2em;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50px;
  font-family: 'Arial'
}

.card {
  padding: 2em;
}
